/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */


/*This Animation is for the About.Html Page*/

.mover-container {
  width: 100%;
  position: relative;
  height: 4rem;
}

.mover {
  position: absolute;
  font-family: "helvetica", sans-serif;
  left: 100%;
  top: .75rem;
  font-size: 3rem;
  font-family: sans-serif;
  margin: 0;
  animation-name: move-it;
  animation-duration: 15s;  
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move-it {
  0% { left: 0; }
  100% { left: 100%; }
}
